.html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.container {
  /* background-color: red; */
  width: 45%;
  margin: 0 auto;
}
.container2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.Footer {
  margin-top: 100px;
}
.Footer span {
  font-weight: bold;
}

.FormText h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 50px;
}

.FormText .Sub {
  background-color: blueviolet;
  width: 160px;
  border-radius: 30px;
}

.FormText p {
  margin-top: 20px;
  padding: 4px;
}

.redAlert {
  color: red;
  padding-top: 30px;
}
